.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}



.InicioCv{
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 100%);
}  

.Titulos{
    position: absolute;
    text-align: left;
    transform: translate(0%, -190%);
    left: 12.45px;
}

.lista{
    list-style: none;
}

.listaInterna{
    position: relative;
    list-style: none;
    left: 5%;
    transform: translate(0%, -97%);
    
}

img{
    max-width: 100%;
    max-height: 100%;
}

.cat{
    width: 20px;
    height: 20px;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(350%, 3560%);
}

.contenedor2{
    position: relative;
    display: inline-block;
    text-align: center;
}

.FinalCv{
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 125%);

}